h1 {
    background-color: #4CEC0D;
  }


  input[type=text],
  input[type=password] {
    border: 2px solid transparent;
    border-bottom-color: #DF8817;
    padding: 8px 0 4px 0;
    outline: 0;
    background-color: transparent;
    box-sizing: border-box;
    height: 56px;
    margin-bottom: 8px;
  }
  
  input[type=text]:focus,
  input[type=password]:focus {
    border-bottom-color: #46EE1C;
  }
