/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  /* A new background color for the app! */
  background-color: #f5f5f5;
}

body, input, textarea, select, button {
  font-family: 'Roboto', sans-serif;
}

body, button {
  font-size: 14px;
}

input, textarea, select {
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1rem;
}

/* Make ALL of the buttons nice and flat. */
button {
  border: 0;
  background-color: transparent;
  text-transform: uppercase;
  color: #ff6d00;
}

/* Have the button change colors when pressed. */
button:active {
  background-color: #eeeeee;
}

input::placeholder {
    font-weight: 300;
    color: rgba(196, 0, 0, 0.81);
  }
  

  